header{
    background-color: aqua;
}

title {
    color: red;
    background-color: orange;
    text-align: center;
}

body{
    color: green;
    background-color: antiquewhite;
    text-align: center;
}
h1{
    color: black;
    background-color: lightslategray;
}

h2{
    color: black;
    background-color: grey;
}

ol, ul{
    text-align: left;
    color: black;
    background-color: lightgray;
}

p {text-align: center;
color: black;
background-color: lightgray;
}

article {
    display: inline-block;
    height: 100px;
    background-color: aqua;
    border: black, thick, solid;
}