header{
    background-color: aqua;
}

title {
    color: red;
    background-color: orange;
    text-align: center;
}

body{
    color: green;
    background-color: antiquewhite;
    text-align: center;
}
h1{
    color: black;
    background-color: lightslategray;
}

h2{
    color: black;
    background-color: grey;
}

p, ol, ul{
    text-align: center;
    color: black;
    background-color: lightgray;
}
